# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Rename this file to .env only and configure DATABASE_URL accordingly:

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE"
